IRODS_SCHEMA_FILE="schema/dataset_root.yml"
LOCAL_SCHEMA_FILE="schema/local_dataset_root.yml"
IRODS_ENVIRONMENT_FILE="irods_environment.json"
VALIDATION_EMAIL_FROM="noreply-reprocessing@cellgeni-su"
VALIDATION_SMTP_HOST="localhost"
