# iRODS environment file (override with --config-file)
IRODS_ENVIRONMENT_FILE="irods_environment.json"

# Email reporting (override with --email-from / --smtp-host)
VALIDATE_HIERARCHY_EMAIL_FROM="noreply-reprocessing@cellgeni-su"
VALIDATE_HIERARCHY_SMTP_HOST="localhost"
